@page
@model IndexModel
@{
    ViewData["Title"] = "Curated Data Summary Tables";
}

<div class="logo-container">
    <img src="~/images/logo_dap.svg" class="home-dap-logo" alt="DAP logo" />
    <div class="logo-sub-container">
        <img src="~/images/logo_uw.png" class="uw-logo" alt="UW logo" />
        <div class="logo-sub-container-2">
            <img src="~/images/logo_tamu.png" class="tamu-logo" alt="TAMU logo" />
            <img src="~/images/logo_tufts.jpg" class="tufts-logo" alt="Tufts logo" />
        </div>
    </div>
</div>
<div class="home-body">
    <h1 class="home-title">Curated Data Summary Tables</h1>
    <h2 class="home-header"><i class="fa-solid fa-paw fa-sm"></i> About this site</h2>
    <p>
        These user-friendly summary tables provide an overview of most variables included in the Health and Life Experience Survey (HLES), which is completed by participants when they enroll a dog in the Dog Aging Project (DAP). Use the sidebar to navigate to each section of the Health and Life Experience Survey. Links to PDF versions of each survey instrument are provided. Variable names are indicated in brackets. The variables summarized here can be cross-referenced to annual DAP Curated Data releases.
    </p>
    <h2 class="home-header"><i class="fa-solid fa-paw fa-sm"></i> About the Health and Life Experience Survey</h2>
    <p>
        The HLES is the foundation for all research conducted by the Dog Aging Project. Available through an individualized research portal, HLES consists of multiple sections and asks 200+ questions about lifestyle, environment, behavior and health. Upon completion of HLES, enrolled dogs become members of the research cohort called the Dog Aging Project Pack.
    </p>
    <h2 class="home-header"><i class="fa-solid fa-paw fa-sm"></i> About DAP Data</h2>
    <p>
        DAP data consist of an extensive set of anonymized variables collected from tens of thousands of dogs. Data types include survey data, environmental data, and biospecimen lab results. DAP is an open data project. Curated data are de-identified to protect participant privacy and released to the worldwide research community annually via the Terra cloud computing platform at the Broad Institute of MIT and Harvard. Codebooks are available at the <a href="https://github.com/dogagingproject/dataRelease" target="_blank">DAP GitHub public repository <i class="bi bi-box-arrow-up-right"></i></a>. To apply for access to Dog Aging Project Curated Data, please visit <a href="https://dogagingproject.org/data-access" target="_blank">dogagingproject.org/data-access <i class="bi bi-box-arrow-up-right"></i></a>.
    </p>
    <h2 class="home-header"><i class="fa-solid fa-paw fa-sm"></i> About the Dog Aging Project</h2>
    <p>
        The Dog Aging Project (DAP) is a research initiative that brings together a community of dogs, owners, veterinarians, scientists, and volunteers to carry out the most ambitious canine health study in the world. Our work is centered on two fundamental goals: understanding how biology, lifestyle, and environment influence aging and intervening to increase healthspan, the period of life spent free from disease.
    </p>
</div>
