@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --light-gray: #555555;
    --medium-gray: #444444;
    --dark-gray: #333333;
    --dap-purple: #4b2d83;
    --light-purple: #e4e0f5;
}

body {
    background-color: var(--light-purple);
    color: black;
    font-family: Roboto, 'Source Sans Pro', sans-serif, Arial;
    line-height: 1.5;
}

.body-container {
    max-width: 940px;
    margin: 10px auto;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    color: var(--dark-gray);
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--dark-gray);
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 15px;
    color: var(--medium-gray);
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--light-gray);
}

a {
    color: #337ab7;
    text-decoration: none;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

/*===== TABLE OF CONTENTS =====*/
#toc {
    padding-top: 10px;
}

    #toc > p {
        font-size: 14px;
    }


/*====== TABLES =====*/
.table-title {
    margin-top: 50px;
    /* padding-left: 15px; */
}

.table-container {
    width: 100%;
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, and shadow color */
    margin-bottom: 10px;
}

table {
    background-color: white;
    font-size: 13px;
    width: 100%;
    margin-top: 0.5em !important;
    border-collapse: collapse;
}

/* Caption at top of table */
thead > tr:first-child {
    background-color: var(--dap-purple);
    color: white;
}

thead > tr:first-child > td {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Column headers */
thead th,
tr:has(td span.col-heading-label) {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(174, 174, 174);
    font-weight: 700;
}

span.col-heading-label {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

tbody tr {
    line-height: 1.8;
}

tbody tr:hover {
    /* Subtle hover effect on table rows */
    background-color: #E1F7E9;
    transition: background-color 0.2s ease-in-out;
}

tbody > tr:first-child > td:first-child {
    padding-top: 10px; /* add space between column header and first data row */
}

/* Give more space to first column, 2nd column will also align across tables */
td:first-child, th:first-child {
    width: 75%;
}

/* Subheader data rows */
tr:has(td span.row-heading) {
    background-color: var(--light-purple);
}

span.row-heading {
    padding-left: 6px; /* Less ident for subheader rows */
}

span.row-heading-label {
    color: var(--dark-gray);
    font-weight: 900;
}

span.row-heading-variable {
    color: var(--medium-gray);
    font-weight: 300;
}

/* Non-header data rows */
tbody > tr:not(:has(span.row-heading)):not(:has(span.col-heading-label)) td {
    padding-left: 15px; /* Indent non-header rows */
}


tfoot {
    font-size: 12px;
    color: var(--medium-gray);
    font-style: italic;
}

/* border between caption and column headers; set from htmlTable::htmlTable() */
thead > tr > th {
    /* border-top: none !important; */
    /* border-bottom: none !important; */
}

tr > td { /* border between table body and footnote */
    /* border-bottom: none !important; */
}

/*===== PAGE FOOTER =====*/
div.cdst-footer {
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--medium-gray);
}
